*{
padding:  0px;
margin: 0;
box-sizing: border-box;
}
body{
    background-color:  #E8E8E8;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.formulario{

}