.btn_save {
  background-color: #0003ff !important;
  font-weight: bold;
  font-size: 10px;
}
.btn_cancel {
  background-color: #ff0000 !important;
  font-size: 10px;
  font-weight: bold;

}
.col_cancel{
  font-weight: bold;
    padding-left: 150px;
}
.col_guardar{
  font-weight: bold;
    padding-left: 50px;
}
<<<<<<< HEAD
=======
.container_rows{
  font-weight: bold;
    margin-top: 20px;
}
>>>>>>> f6d111eb43724326ea41838f9b5d60c7812ce693
