.ImageDisplay {
    margin: auto;
}

.cargar {
    color: pink;
    position: absolute;
}
.SvgPerfil{
        background-color: grey;
}
.container{
background-color: green;
}
.editar_boton{
    border-radius: 10px;
    background-color: violet;
}
.fondo{
    background-color: #b7c8d3;
}
.botonDropdown{
    background-color: orange !important; 
 border-color: #C16A00  !important ;
 border-width: 3px !important;
}
.centrar{
    text-align: center !important;
}