.ImageDisplay {
    margin: auto;
}

.cargar {
    color: pink;
    position: absolute;
}
.SvgPerfil{
        background-color: grey;
}
.container{
background-color: green;
}
.editar_boton{
    border-radius: 10px;
    background-color: violet;
}
.background{
    background-color: grey;
    margin: auto;
}