.contenedor{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #b7c8d3;
    padding:20px 60px 20px;
}
.fondo{
    background-color:#b7c8d3;
}
.img{
    padding-left: 50px;
}
.perfil{
    width: 150px;
    height: 140px;

    }
