.seccion {

    font-size: 20px;

    color: #000;

    font-weight: bold;

    text-align: center;

    display: 'block';

    margin: 10px 0 40px 30px;

    padding: 5px 45px 5px 10px;

    width: 180px;

    border-radius: 20px;

    border: #E4972B 4px solid;

    background-color: #FFA629;
}
.fondo{

    background-color: #b7c8d3;

}
.header{

    text-align: center;
    
    margin-top: 10px;

}
.container-sector{

    margin-bottom: 20px;

}