.content{
    margin: 20px 10px 20px;
} 
.sector{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.flecha{
    padding-left: 50px;
}
.limpio{
    border: rgb(0, 68, 0) 4px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 128, 0);
}
.sucio{
    border: rgb(95, 0, 0) 4px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}